<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>

<div class="container">
    <div class="row">
	<ul class="nav navbar-nav">
		<li><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
	</div>
	<div class="row">
			<div class="col-lg-4">
				<p>I love Mohannad</p>
				<button class="btn"></button>
			</div>
			<div class="col-lg-4">
				<p>I know he love me</p>
				<button class="btn"></button>
			</div>
			<div class="col-lg-4">
				<p> Our love is impossible</p>
				<button class="btn"></button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<p> The story ends tragically</p>
				<button class="btn"></button>
			</div>
			<div class="col-lg-4">
				<p> Our love fall apart</p>
				<button class="btn"></button>
			</div>
			<div class="col-lg-4">
				<p> We were seperated from each other</p>
				<button class="btn"></button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<p> Million miles between us</p>
				<button class="btn"></button>
			</div>
			<div class="col-lg-4">
				<p> We will never meet each other again</p>
				<button class="btn"></button>
			</div>
			<div class="col-lg-4">
				<p> We will live our lives in an endless pain ... </p>
				<button class="btn"></button>
			</div>
		</div>
	</div>

<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
